.home {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  }
  
  .headerContainer{
    width: auto;
    margin-left: 50px;
  }
  
  .headerContainer h1 {display: flex;
    justify-content: center;
    align-items:center;
    font-size: 90px;
    height: 60px;
    font-weight: 50;
    color:rgb(239, 236, 231)
    
  }
  
  .headerContainer p {
    
    padding-top: 30px;
    font-size: 40px;
    font-weight: lighter;
    color: rgb(228, 216, 216);
  }
  .button-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headerContainer button {
    background-color: black;
      color: #61b0eb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   

    height: 50px;
    width: 180px;
  
    text-decoration: none;
    font-size: 20px;
  }
  
  .headerContainer button:hover {
    background-color: #3c4d56;
    cursor: pointer;
    transition: 0.3s ease-in;
    color: black;
  }

  @media only screen and (max-width: 991px) {
    .home {
      justify-content: center;
      align-items: center;
    }
    
    .headerContainer {
      margin-left: 0px;
      border-radius: 10px;
      padding: 10px;
      width: 80%;
      display: flex;
      justify-content:center;
      align-items: center;
      flex-direction: column;
      color:rgb(239, 236, 231)
    }
  
    .headerContainer h1 {
      font-size: 90px;
      height: 40px;
      color: white;
    }
  
    .headerContainer p {
      font-size: 40px;
      color: white;
      padding-top: 30px;
      margin-left: 50px;
    }
  
    .headerContainer button {
      background-color: black;
      color: #61b0eb;
      margin: 30px;
    }
    .button-wrap{
      display: flex;
      align-items: center;
      justify-content: center;
    }
   button:hover {
      background-color: rgb(130, 14, 14);
      color: #d2460f;
      outline: 1px solid yellow;
    }
  }
  @media only screen and (max-width:576px) {
  
  
    .headerContainer h1 {
      font-size: 90px;
      height: 40px;
      color:rgb(239, 236, 231)
    }
    .button-wrap{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .headerContainer p {
      font-size: 34px;
      color: white;
      padding: 40px;
      margin-top: 32px;
    }
    
  }
  @media only screen and (max-width:750px) {


  
    .headerContainer h1 {
      font-size: 78px;
      height: 4px;
      color:rgb(239, 236, 231)
    }
    
    .headerContainer p {
      font-size: 31px;
      color: white;
      padding: 8px;
      margin-top: 32px;
    }
  }